<p-sidebar
  [(visible)]="isSidebarDisplayed"
  position="right"
  styleClass="p-sidebar-lg"
  [transitionOptions]="'420ms cubic-bezier(0, 0, 0.2, 1)'"
>
  <app-manage-customer></app-manage-customer>
</p-sidebar>

<div class="flex align-items-stretch" style="height: 99vg">
  <div
    class="flex flex-column align-items-stretch col-2 border-right-1 border-gray-200"
  >
    <app-menu-bar></app-menu-bar>
  </div>
  <div class="flex flex-column flex-grow-1">
    <app-header-bar></app-header-bar>
    <div class="main-container p-2">
      <p-button
        icon="pi pi-plus"
        label="Create Customer"
        styleClass="p-button-success"
        (click)="isSidebarDisplayed = !isSidebarDisplayed"
      ></p-button>
      <div>Content</div>
    </div>
  </div>
</div>
